.idea/
__pycache__/
*.pyc

data/dataset/RHSEDB/
data/dataset/NPZ4_1/
data/dataset/cha_strokes/
data/prepared/
data/dataset/data_anal/*
!data/dataset/data_anal/image_to_npy_guide.md

artifacts/*
!artifacts/models/
artifacts/models/*
!artifacts/models/inference/
artifacts/models/inference/*
!artifacts/models/inference/*.pth

logs/
